{{define "title"}}
<title>About</title>
{{end}}
{{define "css"}}
<link rel="stylesheet" type="text/css" href="css/about.css">
{{end}}
{{define "searchbar"}}
{{end}}
{{define "filter"}}
{{end}}
{{define "body"}}
<div class="aboutcontainer">
    <h2>Groupie Tracker</h2>
    <div class="left-column-About">
        <br>
        <h3>Objectives:</h3>
        <ul>
            <li>A website where we use the given API to display it in the pages of the website and that done using golang to build the web appilaction.</li>
            <li>The whole project refers to recover data of the artists, like for example their name, the place where they were born and much much more.</li>
            <li>Our goal was to use this information to help the user find what he wanted to know about some of his favorite artists/groups!</li>
        </ul>
        <h3>Features:</h3>
        <ul>
            <li>Searching bar: enables searching by the name of the artist.</li>
            <li>filtering: enables filtering the results to only the artist that matches the search.</li>
            <li>Geolocalization: enables mapping the different concerts locations of a certain artist/band given by the Client.</li>
        </ul>
        <h3>Instructions:</h3>
        <ul>
            <li>The backend written in Go.</li>
            <li>The project can deal have error handler to deal with error.</li>
            <li>The code written if following the good practice.</li>
            <li>The project contain test files.</li>
        </ul>
        <br>
        <h3>Authors</h3>
        <ul>
            <li>Husain</li>
            <li>Abdulrahman</li>
        </ul>
    </div>
    <div class="right-column-About">
        <img src="img/party.png" alt="Groupie Tracker">
    </div>    
</div>

{{end}}